<!doctype HTML>
<html>
  <head>
    <title>MHKCC <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <header>
      <ul class="nav-bar">
        <li style="float:left;"><h3><%= title%></h3></li>
        <%- loginStatus %> 
      </ul>
      <div class="one-box">      
        <%- post %>  
      </div>
    </header>
    <script src="/site.js"></script>
  </body>
</html>


