<!doctype HTML>
<html lang="en">
  <head >
    <title>Milestone 5</title>
    <link href="/site.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="favicon-32x32.png">
    <link rel="small-icon" sizes= "16x16" href="favicon-16x16.png">
    <link rel="big-icon" sizes="64x64" href="favicon-64x64.png">
  </head>
  <body>
    <header>
      <ul class="nav-bar">
        <li style="float:left;"><h2>MHK Community Chest</h2></li>
        <%- loginStatus %> 
      </ul>
    </header>
    <div class="main-page">      
      <%- post %>  
    </div>
    
    <script src="/site.js"></script>
  </body>
</html>


