<div>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>
    <label for="boxname">Box Name:</label>
    <input type="text" name="boxname" />
    
    <label for="latitude">Latitude:</label>
    <input type="text" name="latitude" />
    
    <label for="longitude">Longitude:</label>
    <input type="text" name="longitude" />

    <input type="submit" value="Create New Box"/>

  </form>
</div>