<!doctype HTML>
<html>
  <head>
    <title><%= boxlocation %> box</title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <div >
      <ul>
        <%- boxdetails %>  
        <%- requestlist %> 
        <%- requestform %> 
      </ul>
    </div>
    <script src="/site.js"></script>
  </body>
</html>

