<!doctype HTML>
<html>
  <head>
    <title><%= boxlocation %> box</title>
    <link type="text/css" rel="stylesheet" href="/blog.css">
  </head>
  <body>
    <div>
      <%- boxdetails %>  
      <%- requestlist %> 
      <%- requestform %> 
    </div>
    <script src="/blog.js"></script>
  </body>
</html>

