<div>
  <h2>Submit a Request</h2>
  <form method="POST" action="/box-locations/<%=id%>/requests">
    <h3>Submitting a request as: <%= userName%> </h3>
    <label>Request</label>
    <textarea name="content" rows="3" required></textarea>

    <input type="submit" value="Post"/>
  </form>
</div>